
@keyframes logoAnimation {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

#logo {
  background-image: url('ABC_Red.jpg');
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px; /* Initial size */
  height: 100px; /* Initial size */
  background-size: cover;
  animation: logoAnimation 6s forwards; /* 4 seconds to stay + 2 seconds to fade */
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}
